* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("../tehnweb/wood.jpg");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  .header h1 {
    font-size: 40px;
  }
  
  .navbar {
   overflow: hidden;
    background-color: green;
    background-image: url("../tehnweb/wood.jpg");
  }
  
  .navbar a {
    float: left;
    display:ruby;
    color:white;
    text-align: center;
    padding: 14px 20px;
  
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: coral
  }
  
  table, th, td {
  border: 1px solid black;
  }
  
  .row {  
    display:flex;
    flex-wrap: wrap;
  }
  
  .side {
    display:flexbox;
    flex: 30%;
    background-image: url("../tehnweb/rustic2.jpg");
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  }
  
  .main {   
    flex: 70%;
    background-image: url("../tehnweb/rustic3.jpg");
    padding: 20px;
  }
  
  .img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
      
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width:100%;
    }
  }
  #sideButton{
    background-image: url("../tehnweb/rustic2.jpg");
    color: white;

  }
  .button{
      background-image: url("../tehnweb/rustic2.jpg");
  }
  #image{
    width: 650px;
    height: 70px;
    border:5px solid pink;
    background-image: url("../tehnweb/rustic3.jpg");
    background-repeat: no-repeat;
    color:black
    background-size: 100%;
    font-family: Didot;
    font-size: 150%;
    line-height: 60px;
    text-align: center;
}
.tabel{
    background-image: url("../tehnweb/rustic2.jpg");
    color: white;

}